# Operations on a List

Creating a list

In [14]:
list = []
print(list)

[]

Adding data to the list

In [15]:
list = [1, 2, 3, 'ishan', 'jinesh']
print(list)

[1, 2, 3, 'ishan', 'jinesh']

Append

In [16]:
list.append([512, 12]) #appends just one element
print(list)

[1, 2, 3, 'ishan', 'jinesh', [512, 12]]

Extend

In [17]:
list.extend([204, 'Sid']) #appends multiple elements
print(list)

[1, 2, 3, 'ishan', 'jinesh', [512, 12], 204, 'Sid']

Insert

In [18]:
list.insert(2, 'insert') #inserts at a particular index
print(list)

[1, 2, 'insert', 3, 'ishan', 'jinesh', [512, 12], 204, 'Sid']

Deleting Data from a list

In [19]:
del list[1]
print(list) #deletes the element at index 1q

[1, 'insert', 3, 'ishan', 'jinesh', [512, 12], 204, 'Sid']

Pop function

In [20]:
name = list.pop(3)
print(name) #pops the element at index 3

ishan

Remove an element

In [21]:
list.remove('insert') #removes the first occurence of the element
print(list)

[1, 3, 'jinesh', [512, 12], 204, 'Sid']

Clear the list

In [22]:
list2 = list.copy() #copies the list
list2.clear() #clears the list
print(list2)

[]

# Accessing Elements of a list

Access elements one by one

In [23]:
for element in list:
    print(element)

1
3
jinesh
[512, 12]
204
Sid

Access all elements

In [24]:
print(list)

[1, 3, 'jinesh', [512, 12], 204, 'Sid']

Access all elements from 0 to 1 and exclude 2

In [25]:
print(list[0:2])

[1, 3]

Access elements in reverse

In [26]:
print(list[::-1])

['Sid', 204, [512, 12], 'jinesh', 3, 1]

Length(), count(), index(), sorted()

In [27]:
print(len(list))

6

In [28]:
print(list.index('jinesh'))

2

In [29]:
print(list.count(3))

1

In [32]:
list2 = [1, 3, 0, 2, 5, 7, 6, 4, 8, 9]
list2.sort(reverse=True)
print(list2)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [33]:
print(sorted(list2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]